* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  .header{
    background-image: url(images/img.jpeg);
    height: 200px;
    color: white;
    text-align: center;
    padding-top: 5%;
  }
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:760px) {
    .column {
      width: 50%;
    }
  }  
  @media screen and (max-width:420px) {
    .column {
      width: 100%;
    }
  }  
  .footer{
    height: 300px;
    background-color: rgb(32, 4, 109);
    color: rgb(235, 227, 227);
    text-align: center;
    padding-top: 5%;
  }